*, ::after, ::before{
    box-sizing: border-box;
}
:root{
    --couleur : #dd830ee1;
    --hover : #ff8800;
    --blanche: rgba(255, 255, 255, 0.856);
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/background.jpg)center center /cover no-repeat ;
    position: relative;
    pointer-events: auto;
}
.blur{
    filter: blur(10px);
    pointer-events: none;
}
.main h1{
    font-size: 80px;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(153, 218, 32);
}
.about{
    max-width: 600px;
    padding: 0 20px;
    font-size: 25px;
}
.acceuil{
    text-align: center;
    background: #ffffff22;
    padding: 20px;
    border-radius: 20px;
}
.acceuil:hover{
    background: #ffffff2d;
}
.begin{
    border: 0;
    outline: none;
    background: var(--couleur);
    padding: 25px;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    font-style: italic;
    transition: all 0.4s;
    cursor: pointer;
}
.begin:hover{
    background: var(--hover);
}
.moi{
    width: 120px;
    background: #c40094;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    margin: 10px;
}

.instruction{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.instructions{
    background: #2c262b;
    max-width: 800px;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    transition: all .3s;
    border: 2px solid #c40094;
    width: 60%;
}
.how_play{
    color: #fff;
    background: linear-gradient(45deg, transparent, #c40094, transparent);
    width: 100%;
    text-align: center;
}
.instructions ul li p{
    font-family: monospace,Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: white;
}
.instructions ul{
    list-style: circle;
}
.deux_bouttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.deux_bouttons .continuer{
    width: 120px;
    background: #c40094;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
}
.continuer:hover{
    background: #c40090a4;
    
}
.show{
    opacity: 1;
    pointer-events: none;
}
.close{
    width: 120px;
    padding: 6px;
    font-size: 16px;
    border: 4px #c40094 solid;
    border-radius: 6px;
    color: #c40094;
    transition: all .3s;
}
.close:hover{
    background: #c40094;
    color: white;
}

.hidden{
    display: none;
}
.unhidden{
    display: flex;
    transform: scale(1);
    transition:  1s;
}
.jouer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:absolute;
    left: -200%;
    background: #09001d;
    transition: 1s;
}
.jouerChild{
    width: 65%;
    padding: 25px;
    visibility: hidden; 
    transform: scale(.5);
    transition: all .8s;
}
.leScore{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    color: #ffffffa9;
}
.see{
    left: 0;
}
.second_see{
    visibility: visible;
    transform: scale(1);
}
.title{
    text-align: center;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 0;
}
#next{
    margin-top: 10px;
    padding: 10px;
    background: #00ff0d84;
    font-size: 17px;
    color: rgb(0, 8, 255);
    border: 0;
    border-radius: 20px;
    display: block;
    width: 150px;  
}
#return{
    margin-top: 10px;
    padding: 10px;
    background: #ff0000;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    display: block;
    width: 150px;  
}
.next_back{
    display: flex;
    justify-content: space-evenly;
}
.voir_good_score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #09001d;
    transition: 1s;
}
.demasquer{
    left: -200%
}
.good_score{
    max-width: 700px;width: 100%;
    padding: 10px;
    transition: all .8s;
}
.felicitation{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 100;
    text-align: center;
    color: var(--blanche);
}
.questions_reussies{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--blanche);
}
.circular_progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: conic-gradient(#dda60ee1 3deg, rgba(106, 105, 105, 0.341) 0deg);
    text-align: center;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 40px;
    font-family: chiller, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--blanche);
}
.circular_progress::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}
.pourcent_one{
    position: relative;
}
.back{
    width: 120px;
    padding: 6px;
    font-size: 16px;
    border: 4px #dd830ee1 solid;
    border-radius: 6px;
    color: var(--couleur);
    font-size: 18px;
    font-weight: 1000;
    transition: all .3s;
}
.back:hover{
    background: var(--couleur);
    color: white;
}
.begin_again{
    width: fit-content;
    background: var(--couleur);
    padding: 6px;
    font-size: 16px;
    border:0;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 1000;
    transition: all .3s;
}
.begin_again:hover{
    background: var(--hover);
}
.pourcentage_counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* le style pour la div des niveaux */
.les_niveaux{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    background: url(images/background.jpg)center center /cover no-repeat ;
    transition: 1s;
    left: 0;
}
.levelsShow{
    left: -200%;
}
.niveaux{
    width: 100%;
    max-width: 860px;
    background: #ffffff48;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    transition: 1s;
}
.level-show{
    visibility: hidden; 
    transform: scale(.5);
}
.niveaux_btn{
    width: 600px;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.667);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;font-weight: 900;
    background: rgba(255, 174, 0, 0.749);
    transition: all .3s;
    cursor: pointer;
}
.niveaux_btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.242);
    transform: scale(1.02);
    background: rgb(255, 183, 0);
}
.choisir_niveau{
    font-size: 40px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 0;
}
.responses{
    background: #a1b6d3;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
.question{
    text-wrap: wrap;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.6);
}

.answers
{
    font-size: 18px;
    border: 0;
    outline: none;
    margin: 5px;
    height: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.342);
    color: black;
    transition: all 0.5s;
}
.answers:hover{
    color: rgba(255, 255, 255, 0.553);
    background: rgba(0, 0, 0, 0.604);

}
#resultats{
    display: flex;
    flex-direction: column;
}
.laBonnereponse{
    font-size: 18px;
    padding: 20px;
    background: rgb(0, 255, 0);
    border-radius: 15px;
    display: none;
}
.mauvaiseReponse{
    font-size: 18px;
    padding: 20px;
    background: rgb(241, 88, 88);
    border-radius: 15px;
    display: none;
}
#btn{
    border: 0;
    padding: 15px;
    background: goldenrod;
    color: white;
    font-size: 19px;
    border-radius: 20px;
}
.leSpan{
    font-size: 18px;
    text-align: center;
    color: rgba(247, 247, 247, 0.607);
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.disabled{
    pointer-events: none;
}

.recommencer{
    background: goldenrod;
    border: none;
    padding: 15px;
    border-radius: 10px;
    display: none;
}
@media screen and (max-width: 650px) {
    .instructions{
        max-width: 100%;
        width: 96%;
        margin: 20px;
    }
}
@media screen and (max-width: 450px) {
    .main h1{
        font-size: 55px;
    }
    .about{
        font-size: 30px;
        text-align: justify;
    }
    .begin{
        font-size: 23px;
    }
    .choisir_niveau{
        font-size: 30px;
    }
    .niveaux_btn{
        width: 100%;
    }
    .jouerChild{
        width: 96%;
    }
    .question{
        font-size: 25px;
    }
    #return,#next{
        width: 100px;
        border-radius: 10px;
        font-size: 20px;
    }
    .mauvaiseReponse{
        font-size: 23px;
        text-wrap: wrap;
    }
    .voir_good_score{
        padding: 10px;
    }
    .felicitation{
        font-size: 40px;
        text-align: center;
    }
    .how_play{
        font-size: 40px;
    }
    .deux_bouttons .continuer{
        font-size: 20px;
    }
    .close{
        font-size: 20px;
    }
    .instructions>ul>li>p{
        font-size: 20x;
    }
    .questions_reussies{
        text-align: center;
    }
}