*, ::after, ::before{
    box-sizing: border-box;
}
:root{
    --couleur : #050b2c;
    --hover : rgb(14, 14, 76);
    --div: #050b2c;
    --blanche: rgba(255, 255, 255, 0.856);
  --neon-blue: #15567c;
  --neon-purple: #00ff9d;
  --neon-accent: linear-gradient(90deg, #11bc7d, #00e5ff);
}
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: #050b2c;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #050b2c;
    position: relative;
    pointer-events: auto;
}
.blur{
    filter: blur(10px);
    pointer-events: none;
}
.main h1{
    margin: 0 0 6px 0;
    font-style: italic;
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  color: transparent;
  background: -webkit-linear-gradient(90deg, var(--neon-purple),var(--neon-blue),rgb(2, 6, 48));
  -webkit-background-clip: text;
  background-clip: text;
    z-index: 10;
}
.about{
    max-width: 600px;
    padding: 0 20px;
    color: #f9f1f1;
    font-size: 20px;
    line-height: 2;
    font-style: italic;
    font-weight: 100;
}
.acceuil{
    text-align: center;
    background: #ffffff0f;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.4s;
    box-shadow: 0 0 5px white;
}
.acceuil:hover{
    background: #ffffff16;
    box-shadow: 0 0 10px white;
    transition: all 0.4s;
}
.begin{
    border: 0;
    outline: none;
    background: var(--couleur);
    padding: 25px;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    font-style: italic;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.begin:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transform: scale(0.9);
}
/* .moi{
    width: 120px;
    background: #c40094;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    margin: 10px;
} */

.instruction{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    background: var(--div);
}
.instructions{
    background: var(--div);
    height: fit-content;
    max-width: 900px;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    transition: all .3s;
    width: 80%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.615);
}
.how_play{
    color: var(--blanche);
    background: linear-gradient(45deg, transparent, #0e2291, transparent);
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.instructions ul li p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--blanche);
    font-style: italic;
}
.instructions ul li{
    margin-bottom: 15px;
    line-height: 2;
}
.instructions ul{
    list-style: none;
}
.deux_bouttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 80px;
}
.deux_bouttons .continuer{
    width: 120px;
    background: var(--couleur);
    padding: 10px;
    color: var(--blanche);
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.615);
}
.continuer:hover{
    background: var(--hover);
    transform: scale(1.05);
}
.show{
    opacity: 1;
    pointer-events: none;
}
.close{
    width: 120px;
    padding: 6px;
    font-size: 16px;
    border: 4px #042aff solid;
    border-radius: 6px;
    color: rgb(0, 47, 255);
    transition: all .3s;
    font-weight: 500;
    background: #04083b;
    font-style: italic;
}
.close:hover{
    background: #042aff;
    color: white;
}

.hidden{
    display: none;
}
.unhidden{
    display: flex;
    transform: scale(1);
    transition:  1s;
}
.jouer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position:absolute;
    left: -200%;
    background: #050b2c;
    transition: 1s;
    padding-bottom: 5px;
}
.jouerChild{
    width: 90%;
    max-width: 500px;
    visibility: hidden; 
    transform: scale(.5);
    transition: all .8s;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.615);
}
.leScore{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    color: #ffffffa9;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.615);
}
.see{
    left: 0;
}
.second_see{
    visibility: visible;
    transform: scale(1);
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 0 0 6px 0;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 700;
    color: transparent;
    background: -webkit-linear-gradient(90deg, var(--neon-purple),var(--neon-blue),rgb(2, 6, 48));
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 10;
}
#next{
    margin-top: 10px;
    padding: 10px;
    background: #00ff0d84;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    display: block;
    width: 150px;  
}
#return{
    margin-top: 10px;
    padding: 10px;
    background: #ff0000;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    display: block;
    width: 150px;  
}
.next_back{
    display: flex;
    justify-content: space-evenly;
}
.voir_good_score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100vh;
    position: absolute;
    background: var(--couleur);
    transition: 1s;
}
.demasquer{
    left: -200%
}
.good_score{
    max-width: 600px;
    width: 90%;
    padding: 10px;
    transition: all .8s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.59);
    border-radius: 20px;
}
.felicitation{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 100;
    text-align: center;
    color: var(--blanche);
}
.questions_reussies{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--blanche);
}
.chrono-container{
    color: white;
    font-family: callibri,sans-serif, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}
.chrono-container span{
    font-size: 40px;
    font-family: cursive;
    color: red;
}
.circular_progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: conic-gradient(#dda60ee1 3deg, rgba(106, 105, 105, 0.341) 0deg);
    text-align: center;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 40px;
    font-family: chiller, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--blanche);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.455);
}
.circular_progress::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: var(--couleur);
    border-radius: 50%;
}
.pourcent_one{
    position: relative;
}
.back{
    width: 120px;
    padding: 6px;
    font-size: 16px;
    border: 4px rgb(0, 119, 255) solid;
    border-radius: 6px;
    color: rgb(0, 72, 255);
    font-size: 18px;
    font-weight: 100;
    transition: all .3s;
    background: #0a0c32b9;
}
.back:hover{
    background: rgb(0, 119, 255);
    color: white;
}
.begin_again{
    width: fit-content;
    background: var(--couleur);
    padding: 6px;
    font-size: 16px;
    border:0;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    transition: all .3s;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.505);
}
.begin_again:hover{
    background: rgb(0, 119, 255);
}
.pourcentage_counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* le style pour la div des niveaux */
.les_niveaux{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #050b2c;
    transition: 1s;
    left: 0;
}
.levelsShow{
    left: -200%;
}
.niveaux{
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    transition: 1s;
    background: linear-gradient(conic,blue,red);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.379);
}
.level-show{
    visibility: hidden; 
    transform: scale(.5);
}
.niveaux_btn{
    width: 60%;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.566);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #04083b;
    font-weight: 100;
    transition: all .3s;
    cursor: pointer;
}
.niveaux_btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.242);
    transform: scale(1.02);
    background: linear-gradient(to top,rgb(6, 8, 62),rgba(0, 0, 255, 0.468),rgb(4, 13, 68));
}
.choisir_niveau{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin: 0;
    color: white;
}
.responses{
    background: #a1b6d3;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
.question{
    text-wrap: wrap;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.6);
}

.answers
{
    font-size: 18px;
    border: 0;
    outline: none;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    background: #04083b;
    color: white;
    transition: all 0.5s;
}
.answers:hover{
    background: linear-gradient(to top,rgb(6, 8, 62),rgba(0, 0, 255, 0.468),rgb(4, 13, 68));    
}
#resultats{
    display: flex;
    flex-direction: column;
}
.laBonnereponse{
    padding: 20px;
    border-radius: 15px;
    display: none;
}
.laBonnereponse,.mauvaiseReponse{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.379);
    color: #00e5ff;
    font-style: italic;
    font-size: 24px;
}
.mauvaiseReponse{
    padding: 20px;
    border-radius: 15px;
    display: none;
}
#btn{
    border: 0;
    padding: 15px;
    background: goldenrod;
    color: white;
    font-size: 19px;
    border-radius: 20px;
}
.leSpan{
    font-size: 18px;
    text-align: center;
    color: rgba(247, 247, 247, 0.607);
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.disabled{
    pointer-events: none;
}

.recommencer{
    background: goldenrod;
    border: none;
    padding: 15px;
    border-radius: 10px;
    display: none;
}
@media screen and (max-width: 650px) {
    .instructions{
        overflow-y: auto;
        width: 94%;
        margin: 20px;
        border: none;
        background: #050b2c;
        box-shadow: 0 0 20px white;
        
    }
    .instructions ul{
        padding: 0;
        margin: 0;
    }
    .instructions ul li p{
        line-height: 1;
        margin: 0;
    }
    .deux_bouttons{
        margin-top: 10px;
    }
    .instruction{
        max-width: 100%;
        height: 100vh;
        background: #050b2c;

    }
    .next_back{
        padding-bottom: 15px;
    }
    .instructions ul li p{
        margin: 0;
        line-height: 1.4;
    }
    .acceuil{
        width: 90%;
    }
}
@media screen and (max-width: 450px) {
    .main h1{
        font-size: 25px;
    }
    .about{
        font-size: 16px;
        text-align: justify;
        line-height: 1.7;
    }
    .begin{
        font-size: 16px;
        padding: 13px;
    }
    .choisir_niveau{
        font-size: 16px;
    }
    .niveaux_btn{
        width: 90%;
    }
    .jouerChild{
        width: 90%;
    }
    .question{
        font-size: 25px;
    }
    #return,#next{
        width: 100px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .mauvaiseReponse{
        font-size: 23px;
        text-wrap: wrap;
    }
    .voir_good_score{
        padding: 10px;
    }
    .felicitation{
        font-size: 30px;
        text-align: center;
    }
    .how_play{
        font-size: 20px;
    }

    .questions_reussies{
        text-align: center;
    }
    .niveaux_btn{ font-size: 17px;}
    .deux_bouttons{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .deux_bouttons .close, .deux_bouttons .continuer{
        width: 60%;
    }
}

